In [19]:
import pandas as pd

data_films = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
power = pd.read_csv('power.csv')

Задание 1

In [35]:
index_of_most_5_film = data_films[data_films.rating == 5]['movieId'].value_counts().index[0]
movies[movies.movieId == index_of_most_5_film]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2

In [71]:
sum( power[((power.country == 'Latvia') | (power.country == 'Lithuania') | (power.country == 'Estonia'))&
      ((power.category == 4) | (power.category == 12) | (power.category == 21))&
      (power.year < 2011)&(power.year > 2004)&
      (power.quantity > 0)]
      ['quantity'] )
#может длинно конечно, но вроде читаемо ^^

240580.0

Задание 3

In [91]:
data_from_website = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')

In [92]:
data_from_website[8]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Bitcoin Курс биткоина,49 254.20,-97.20000,-0.20000,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),319.62,18.88000,6.28000,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,1 273.16,-9.99000,-0.78000,NaN
3,Dash Dash,363.34,27.08000,8.05000,NaN
4,Ripple Ripple,1.357,-0.13900,-9.30400,NaN
5,Ethereum Ethereum,3 998.06,-9.71000,-0.24000,NaN
6,Zcash (ZEC),294.74,23.26000,8.57000,NaN
7,NEO (NEO),97.82,5.14000,5.55000,NaN
8,EOS (EOS),10.812,0.59000,5.77200,NaN
9,TRON (TRX),0.12222,0.00147,1.21739,NaN
10,Monero,404.00,20.76000,5.42000,NaN
11,IOTA,1.8896,0.03540,1.90920,NaN
12,"ETC/USD эфириум классик, ETC",99.351,4.27600,4.49800,NaN