In [11]:
import pandas as pd

data_films = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
keywords = pd.read_csv('keywords.csv')

Задание 1

In [3]:
def movie_class(average_rating):
    if average_rating < 2:
        return 'Низкий рейтинг'
    elif average_rating >= 2 and average_rating < 4:
        return 'Средний рейтинг'
    elif average_rating >= 4:
        return 'Высокий рейтинг'

In [4]:
mean_film_rating = data_films.groupby('movieId')['rating'].mean().reset_index() #Фрейм со средними значениями
mean_film_rating['rating'] = mean_film_rating['rating'].apply(movie_class) #Подставили вместо среднего текст с рейтингом
movies = movies.merge(mean_film_rating, how='outer', on='movieId') #Выполняя 2 раз получаем лишний столбец ^^

In [5]:
movies

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,Средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,Средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,Средний рейтинг
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,Средний рейтинг
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,NaN
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,Высокий рейтинг
9123,164977,The Gay Desperado (1936),Comedy,NaN
9124,164979,"Women of '69, Unboxed",Documentary,NaN

Задание 2

In [6]:
def region(keyword):
    if 'москва' in keyword or 'тула' in keyword or 'ярославль' in keyword:
        return 'Центр'
    elif 'петербург' in keyword or 'псков' in keyword or 'мурманск' in keyword:
        return 'Северо-Запад'
    elif 'владивосток' in keyword or 'сахалин' in keyword or 'хабаровск' in keyword:
        return 'Дальний Восток'
    return 'undefined'

In [7]:
keywords['region'] = keywords['keyword'].apply(region)
keywords['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 3

In [12]:
def movie_year(movie):
    years = [year for year in range(1900, 2022)] #в фрейме с фильмами есть те, что сняты позже 2010. И раньше 1950
    for year in years:
        if str(year) in movie:
            return str(year)
    return '1900'

In [17]:
movies['year'] = movies['title'].apply(movie_year)
mean_film_rating_2 = data_films.groupby('movieId')['rating'].mean().reset_index() #Фрейм со средними значениями
movies_with_rating = movies.merge(mean_film_rating_2, how='outer', on='movieId').sort_values(by='year')
movies_with_rating.head()

,movieId,title,genres,year,rating
9124,164979,"Women of '69, Unboxed",Documentary,1900,NaN
9118,162376,Stranger Things,Drama,1900,4.50
2153,2691,"Legend of 1900, The (a.k.a. The Legend of the ...",Drama,1900,2.75
9063,151307,The Lovers and the Despot,(no genres listed),1900,4.50
9017,143410,Hyena Road,(no genres listed),1900,2.00

In [18]:
movies_with_rating.groupby('year')['rating'].mean().sort_values(ascending=False).head()

year
1921    4.387500
1924    4.360000
1902    4.333333
1928    4.292143
1917    4.250000
Name: rating, dtype: float64