In [31]:
import pandas as pd

Задание 1

In [32]:
logs = pd.read_csv('visit_log.csv', sep=';')

logs['source_type'] = logs['traffic_source']
logs.loc[logs.traffic_source.str.contains('yandex|google'), 'source_type'] = 'organic'
logs.loc[logs.traffic_source.str.contains('paid|email') & logs.region.str.contains('Russia'), 'source_type'] = 'ad'
logs.loc[logs.traffic_source.str.contains('paid|email') & ~logs.region.str.contains('Russia'), 'source_type'] = 'other'

logs.source_type.value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

Задание 2

In [33]:
urls = pd.read_csv('URLs.txt')

urls_with_news = urls.loc[lambda row: row.url.str.contains(pat = '/\d{8}-', regex=True)]

print('Всего страниц:', len(urls))
print('Новостных страниц:', len(urls_with_news))

Всего страниц: 93
Новостных страниц: 84

Задание 3

In [34]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings_by_user = ratings.groupby('userId').count().reset_index()
users_over_100 = ratings_by_user[ratings_by_user['movieId'] > 100] #ID пользователей с более чем 100 оценками

In [35]:
def lifetime(user):
    """
    Возвращает разницу в секундах между временем первой и последней оценки пользователя из файла ratings
    """
    return ratings[ratings.userId == user['userId']].timestamp.max() - ratings[ratings.userId == user['userId']].timestamp.min()

In [36]:
users_over_100['lifetime'] = users_over_100.apply(lifetime, axis=1)
print('Среднее время жизни в днях:', users_over_100.reset_index()['lifetime'].mean() /60 /60 //24)

Среднее время жизни в днях: 463.0

<ipython-input-36-83985f2685d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users_over_100['lifetime'] = users_over_100.apply(lifetime, axis=1)

Задание 4

In [37]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [39]:
rzd_plus_auto = rzd.merge(auto, how='outer', on='client_id')
users_revenue = rzd_plus_auto.merge(air, how='outer', on='client_id') #Таблица с выручкой по категориям
users_revenue

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [40]:
users_revenue.merge(client_base, how='outer', on='client_id')

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4