In [599]:
import pandas as pd
import numpy as np

In [600]:
colnames=list(range(28))
horse_stat = pd.read_csv('horse_data.csv', names=colnames, header=None)

In [601]:
drop_colums = [2, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27]
horse_stat = horse_stat.drop(columns = drop_colums)
horse_stat.replace('?', np.NaN, inplace=True)
horse_stat.rename(columns={0: 'surgery', 1: 'age', 3: 'rectal temperature', 4: 'pulse', 5: 'respiratory rate', 6: 'temperature of extremities', 10: 'pain', 22: 'outcome'}, inplace=True)

horse_stat['surgery'] = pd.to_numeric(horse_stat['surgery'])
horse_stat['age'] = pd.to_numeric(horse_stat['age'])
horse_stat['rectal temperature'] = pd.to_numeric(horse_stat['rectal temperature'])
horse_stat['pulse'] = pd.to_numeric(horse_stat['pulse'])
horse_stat['respiratory rate'] = pd.to_numeric(horse_stat['respiratory rate'])
horse_stat['temperature of extremities'] = pd.to_numeric(horse_stat['temperature of extremities'])
horse_stat['pain'] = pd.to_numeric(horse_stat['pain'])
horse_stat['outcome'] = pd.to_numeric(horse_stat['outcome'])

Задание 1

In [602]:
horse_stat

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

Задание 2

In [603]:
len(horse_stat[horse_stat['surgery'] == 1]) / 299 *100

#Для столбца "surgery" видим, что хирургическое вмешательство происходило в 60% случаев (почти - одно значение пропущено)

60.200668896321076

In [604]:
len(horse_stat[horse_stat['age'] == 1]) / len(horse_stat) *100

#Для столбца "age" можем сказать что проблемы с коликами возникали в подавляющем большинстве у взрослых лошадей, что логично
#Будем считать что значение "9" - молодые лошади. Хотя в описании датасета указано значение "2"

92.0

In [605]:
horse_stat['rectal temperature'] = pd.to_numeric(horse_stat['rectal temperature'])
horse_stat['rectal temperature'].describe()

#Отсутствует 20% данных. Значения плотно сгруппированы вокгруг среднего, которое немного повышено относительно нормы (37.8)
#Можно считать, что выборосов нет

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [606]:
horse_stat['pulse'] = pd.to_numeric(horse_stat['pulse'])
horse_stat['pulse'].describe()

#Отсутствует 8% данных, средний пульс повышен относительно нормы почти в 2 раза.

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [607]:
upper_bound = 88 + (1.5 * 40)
horse_stat[horse_stat['pulse'] > upper_bound] #Нижняя границы меньше 0, нет смысла считать

#Существуют значения, которые могли бы показаться отклонением. Но пульс лошади в зависимости от ситуации может быть выше 200.

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [608]:
horse_stat['respiratory rate'] = pd.to_numeric(horse_stat['respiratory rate'])
horse_stat['respiratory rate'].describe()

#Отсутствуют почти 20% значений. Нормой частоты дыхания считается значение 32-36, что укладывается в статистику.

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [609]:
upper_bound = 36 + (1.5 * 17.5)
horse_stat[horse_stat['respiratory rate'] > upper_bound]

#Значения выше границы выбросов также логичны - пульс, температура повышены гораздо сильнее при высокой частоте дыхания
#Также для таких лошадей в большинстве случаев применялось хирургическое вмешательство

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [610]:
print('Процент лошадей с нормальным кровообращением:', len(horse_stat[horse_stat['temperature of extremities'] == 1]) / 244 * 100)
print('Процент лошадей со значением "warm":', len(horse_stat[horse_stat['temperature of extremities'] == 2]) / 244 * 100)
print('Процент лошадей со значением "cool":', len(horse_stat[horse_stat['temperature of extremities'] == 3]) / 244 * 100)
print('Процент лошадей со значением "cold":', len(horse_stat[horse_stat['temperature of extremities'] == 4]) / 244 * 100)

#Отсутствует также 8% (56) данных. Значения normal и cool вместе составляют более 75% данных.

Процент лошадей с нормальным кровообращением: 31.967213114754102
Процент лошадей со значением "warm": 12.295081967213115
Процент лошадей со значением "cool": 44.67213114754098
Процент лошадей со значением "cold": 11.065573770491802

In [611]:
print('Процент лошадей с отсутствием боли:', len(horse_stat[horse_stat['pain'] == 1]) / 245 * 100)
print('Процент лошадей со слабой болью:', len(horse_stat[horse_stat['pain'] == 2]) / 245 * 100)
print('Процент лошадей со средним значением боли:', len(horse_stat[horse_stat['pain'] == 3]) / 245 * 100)
print('Процент лошадей с высоким болевым показателем:', len(horse_stat[horse_stat['pain'] == 4]) / 245 * 100)
print('Процент лошадей с очень высоким болевым показателем:', len(horse_stat[horse_stat['pain'] == 5]) / 245 * 100)

#Лошади со слабым и средним болевым показателем составляют более половины заполненных данных
#45 значений из 300 отсутствуют

Процент лошадей с отсутствием боли: 15.510204081632653
Процент лошадей со слабой болью: 24.081632653061224
Процент лошадей со средним значением боли: 27.346938775510203
Процент лошадей с высоким болевым показателем: 15.918367346938775
Процент лошадей с очень высоким болевым показателем: 17.142857142857142

In [612]:
horse_stat['outcome'] = pd.to_numeric(horse_stat['outcome'])
print('Процент выживших лошадей:', len(horse_stat[horse_stat['outcome'] == 1]) / 299 * 100)
print('Процент лошадей, которые умерли:', len(horse_stat[horse_stat['outcome'] == 2]) / 299 * 100)
print('Процент лошадей, которых усыпили:', len(horse_stat[horse_stat['outcome'] == 3]) / 299 * 100)

#Пропущено 1 значение

Процент выживших лошадей: 59.53177257525084
Процент лошадей, которые умерли: 25.75250836120401
Процент лошадей, которых усыпили: 14.715719063545151

Задание 3

In [613]:
#Для столбцлв surgery и outcome имеем 1 строку где оба столбца не заполнены:
horse_stat[horse_stat['outcome'].isnull()]

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [614]:
horse_stat[(horse_stat['pain'] == 4)&
           (horse_stat['respiratory rate'] < 30)&
           (horse_stat['temperature of extremities'] == 3)&
           (horse_stat['pulse'] < 70)]

#Можем найти наиболее похожие характеристики болезни, выбирая границы и заполнить значения похожими.

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN
276,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0

In [615]:
#Поставим в surgery этой строки 1, а в outcome 3.
horse_stat.loc[132, 'surgery'] = 1
horse_stat.loc[132, 'outcome'] = 3

Для остальных столбцов можем сказать что:
    * Лошади, имеющие средне-высокие болевые показатели и показатели кровообращения 3 и 4 чаще имеют учещенное серцебиение
    * Такие лошади чаше подвержены шоку
    * Лошади, подверженные шоку могут иметь сниженную температуру
    * Высокие болевые показатели могут говорить, что лошадь нуждалась в хирургическом вмешательстве
    * При заполнении, итог лечения outcome также не помешает учитывать
    * Хочется удалить некоторые строки - в них могут отсутствовать 4-5 значений из 8. Но по условиям зажачи заполним их
    * Хочется заполнять строки сначала исходя из очевидных зависимостей, а далее из чего придётся

In [616]:
#Заполним столбец с сердцебиением, его зависимости вроде понятны
horse_stat['pulse'].fillna(horse_stat.groupby(['pain', 'respiratory rate'])['pulse'].transform('median'), inplace=True)
horse_stat['pulse'].fillna(horse_stat.groupby(['pain', 'temperature of extremities'])['pulse'].transform('median'), inplace=True)
horse_stat['pulse'].fillna(horse_stat.groupby(['surgery', 'age'])['pulse'].transform('median'), inplace=True)

In [617]:
#Заполним стобец с температурой, кажется это следующее значение с наиболее очевидными зависимостями
horse_stat['rectal temperature'].fillna(horse_stat.groupby(['pain', 'temperature of extremities'])['rectal temperature'].transform('median'), inplace=True)
horse_stat['rectal temperature'].fillna(horse_stat.groupby(['pain', 'pulse'])['rectal temperature'].transform('median'), inplace=True)
horse_stat['rectal temperature'].fillna(horse_stat.groupby('surgery')['rectal temperature'].transform('median'), inplace=True)

In [618]:
#Следующим кажется стоит заполнить столбец с respiratory rate, так как есть связь с серцебиением
horse_stat['respiratory rate'].fillna(horse_stat.groupby(['pulse', 'temperature of extremities'])['respiratory rate'].transform('median'), inplace=True)
horse_stat['respiratory rate'].fillna(horse_stat.groupby('pulse')['respiratory rate'].transform('median'), inplace=True)
horse_stat['respiratory rate'].fillna(horse_stat.groupby('pain')['respiratory rate'].transform('median'), inplace=True)
horse_stat['respiratory rate'].fillna(horse_stat.groupby('rectal temperature')['respiratory rate'].transform('median'), inplace=True)

In [619]:
#Столбец со значениями temperature of extremities сложно увязать с другими.
#Даже связь значения "2" с повышенной температурой в описании датасета не очевидна. При значении "2" температруа часто остаётся
#в проеделах нормы. Заполним этот столбец модой

horse_stat['temperature of extremities'].fillna(horse_stat['temperature of extremities'].mode()[0], inplace=True)

In [621]:
#Столбец с болью можно увязать со столбцом surgery. Заполним модой
print(horse_stat[horse_stat['surgery'] == 1]['pain'].value_counts())
print(horse_stat[horse_stat['surgery'] == 2]['pain'].value_counts())

3.0    39
2.0    34
5.0    33
4.0    29
1.0     9
Name: pain, dtype: int64
1.0    29
3.0    28
2.0    25
4.0    10
5.0     9
Name: pain, dtype: int64

In [627]:
a = horse_stat[horse_stat['surgery'] == 1]
a['pain'].fillna(3, inplace=True)

b = horse_stat[horse_stat['surgery'] == 2]
b['pain'].fillna(1, inplace=True)

result_df = pd.concat([a, b])
result_df

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,38.1,60.0,20.0,3.0,3.0,2.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...
286,2.0,1,37.8,82.0,12.0,3.0,4.0,3.0
287,2.0,9,39.5,84.0,30.0,3.0,1.0,1.0
290,2.0,1,38.6,45.0,16.0,2.0,1.0,1.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0